<h1> New User </h1>

<form method="POST" action="/users">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="user[name]"><br>
    <input type="submit" value="Who dat be?">
</form>
    
